.game {
    display: flex;
    flex-direction:column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-board {
    display: grid;
    width: 500px;
    gap: 3px;
}

.game-board-cell {
    padding: 25px;
    cursor: pointer;
}